.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		.navbar-header
			Link.navbar-brand(to="dashboard")
				span NCI
		.navbar-left.navbar-form(style={paddingTop: "11px"})
			ProjectsSelector()
