.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		.navbar-header
			a.navbar-brand(href="/")
				span Company Brand Name CI
		form.navbar-left.navbar-form
			.form-group
				input.form-control(placeholder="Start typing project name...", style={width: '220px'})
