.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		.navbar-header
			Link.navbar-brand(to="dashboard")
				span NCI

		.collapse.navbar-collapse
			.navbar-form.navbar-left(style={paddingTop: "11px"})
				ProjectsSelector()
