node_modules
test/workspace
test/distributor/workspace
test/repos/
!test/repos/git.tar.gz
!test/repos/mercurial.tar.gz
data/projects/**/workspace
data/builds
coverage
.nyc_output
data/config.yaml
data/config.json
data/db
data/projects/test*
