node_modules
test/workspace
test/distributor/workspace
test/repos/mercurial/
test/repos/git/
static/css/**/*.css
static/fonts
static/js/libs
static/js/templates
data/projects/**/workspace
data/builds
static/index.html