sudo: required
dist: trusty
language: node_js

node_js:
  - "stable"
  - "12"
  - "10"
  - "8"
  - "6"
  - "4"
  - "0.12"
  - "0.10"

script:
  - npm run lint
  - >
    nodeVersionMajor=`node -e "console.log(process.versions.node.split('.')[0])"`;

    if [ $nodeVersionMajor -eq 12 ]; then
      npm run coverage;
      coveralls < coverage/lcov.info;
    else
      echo "*** Do not make coverage reports for non node.js 12 builds ($nodeVersionMajor)";
    fi;
