doctype html
html
	head
		title test
		script(data-main="/js/main" src="/js/libs/requirejs/require.js")
		script(type="text/javascript").
			require(['app/app']);

	body
		h1 hello world


		script#projects-template(type="text/template")
			| <div class="js-projects">
			|	 <% _(projects).each(function(project) { %>
			|	 	<div class="js-project" data-name="<%= project.name %>">
			|	 		<span><%= project.name %></span>
			|	 		<span class="js-run">&rarr;</span>
			|	 	</div>
			|	 <% }); %>
			| </div>


		#content
