doctype html
html
	head
		title nci

		// do it temporary
		link(href="/js/libs/bootstrap/dist/css/bootstrap.css", rel="stylesheet", type="text/css")

		script(data-main="/js/main" src="/js/libs/requirejs/require.js")
		script(type="text/javascript").
			require(['app/app']);

	body
		#content
