doctype html
html
	head
		title nci

		style.
			.js-run, .js-show-console { cursor: pointer; }
			body { font-family: monospace; font-size: 16px; }

		script(data-main="/js/main" src="/js/libs/requirejs/require.js")
		script(type="text/javascript").
			require(['app/app']);

	body

		script#projects-template(type="text/template")
			| <div class="js-projects">
			|	 <% _(projects).each(function(project) { %>
			|	 	<div class="js-project" data-name="<%= project.name %>">
			|	 		<span><%= project.name %></span>
			|	 		<span class="js-run">&#8658;</span>
			|	 	</div>
			|	 <% }); %>
			| </div>

		script#builds-template(type="text/template")
			| <div class="js-builds">
			|	 <% _(builds).each(function(build) { %>
			|	 	<div class="js-build" data-id="<%= build.id %>">
			|	 		<span>#<%= build.id %></span>
			|	 		<span><%= build.project.name %></span>
			|	 		<span><%= build.status %></span>
			|	 		<span class="js-show-console">&#8631;</span>
			|	 	</div>
			|	 <% }); %>
			| </div>

		h2 Projects
		#projects

		h2 Builds
		#builds

		h2 Build console
		#build-console

		#content
