.build-view {
	&_info {
	}
	&_terminal {
		margin-top: 20px;
	}
}

.builds {
	padding: 0 15px;
}

.build {
	.row();
	padding: 15px 0;
	margin-bottom: 3px;

	&__in-progress {
		background: lighten(@brand-info, 40%);
	}
	&__done {
		background: lighten(@brand-success, 50%);
	}
	&__error {
		background: lighten(@brand-danger, 30%);
	}

	&_info {
		display: inline-block;
		margin-right: 10px;
	}

	&_controls {
		.make-md-column(3);
		.make-xs-column(3);
		.text-right;
		margin-top: 8px;
	}
	&_content {
		.make-md-column(9);
		.make-xs-column(9);
	}

	&_header {
		margin-bottom: 6px;
		font-size: 18px;
		a {
			font-size: inherit;
		}
	}
}
