.terminal {
	box-sizing: border-box;

	&_code {
		height: 300px;
		padding: 8px 12px;
		box-sizing: border-box;
		overflow-y: scroll;
		border: none;
		color: white;
		background-color: black;
		line-height: 0.8;
		font-size: 13px;
		font-family: 'Ubuntu', sans-serif;

		&_newline {
			display: block;
			margin: 0.8em 0;
			white-space: pre;
			&:first-child {
				margin-top: 0;
			}
		}
	}
}
